# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Norse Tutorial Notebook
author: Norse authors
logo: images/logo.png

exclude_patterns:
  - _build
  - .venv
  - notebooks

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: 'off'

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Launch configuration
launch_buttons:
  binderhub_url: "https://mybinder.org/v2/gh/norse/norse/HEAD"
  colab_url: "https://colab.research.google.com"
  thebe: true
  
# Information about where the book exists on the web
repository:
  url: https://github.com/norse/notebooks  # Online location of your book
  #path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
