name: Documentation Publish

on:
  pull_request:

jobs:
  build-docs:
    name: "Build documentation"
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install system dependencies
        run: sudo apt update && sudo apt install ffmpeg -y
      - name: Install python dependencies
        run: pip install -r requirements.txt
      - name: Compile docs
        run: jupyter-book build .
